{% extends "layout.html" %}
{% block body %}
  <h3 style="margin-bottom: 15px; margin-left: 4px">Activity History</h3>
  <div> <!-- class="table-responsive" -->
    <table class="table table-striped table-condensed">
    <tr><th>Time!</th><th>Event</th><th>Description</th></tr>
    {% for entry in entries %}
      <tr >
          <td>{{ entry.timestamp }}</td>
          <td>{{ entry.event|safe }}</td>
          <td>{{ entry.description|safe }}</td>
      </tr>
    {% else %}
      <tr><td colspan=3>No history yet.</td></tr>
    {% endfor %}
    </table>
    <a href="{{ url_for('show_full_history') }}">
      <button type="button" id="RealOpenCloseButton" class="btn btn-primary btn-lg btn-block" style="vertical-align: middle">
        Show Full History
      </button>
    </a>
    <br>
    <br>
    <a href="{{ url_for('download') }}">
      <button type="button" id="RealOpenCloseButton" class="btn btn-primary btn-lg btn-block" style="vertical-align: middle">
      Download History CSV
      </button>
    </a>
    <br>
    <br>
  </div>
{% endblock %}